@model Person
@using MVCBasics.Models

<div class="container">
    <div class="row">
        <div class="col-sm">@Model.Name</div>
        <div class="col-sm">@Model.PhoneNumber</div>
        <div class="col-sm">@Model.City</div>
    </div>
</div>


