<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">&lt;D.V&gt;</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Doctor" asp-action="GetTemperature">Fever Check</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" asp-controller="GuessingGame" asp-action="GuessingGame">Guessing Game</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" asp-controller="Person" asp-action="Persons">Persons</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" asp-controller="Ajax" asp-action="Index">Ajax</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" asp-controller="City" asp-action="Index">Cities</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" asp-controller="Country" asp-action="Index">Countries</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
        @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @DateTime.Now.ToString("yy-MM-dd") - Daniel Villalba
        </div>
    </footer>
</body>
</html>
