
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>Jag är en social, utåtgående och positiv person som har lätt att komma överens med andra. Jag är inte rädd för att få kritik<br/>
    utan ser det som något positivt eftersom det främjar min personliga utveckling, men jag förväntar mig även att andra lyssnar<br/>
    och tar till sig av min åsikter. Genom mina akademiska studier har jag uppmärksammat att min analytiska förmåga har utvecklats.<br/>
    Detta har medfört att jag blivit bättre på sätta saker i sitt sammanhang och förstå hur saker och ting ska kopplas samman.<br/>
    Därav har jag blivit bättre på att lära mig nya saker snabbare och jag ser till att förbättra denna förmåga kontinuerligt.<br/>
    När det kommer till jobb är jag ambitiös och tycker om att ställas inför nya utmaningar. Jag är bra på att planera mitt eget<br/>
    arbete. Detta brukar jag göra genom att ta ett steg tillbaka och skaffa mig överblick över situationen och sedan bryta ner<br/>
    arbetet i små beståndsdelar och därefter arbeta av beståndsdelarna genom att utföra de uppgifter som har högst prioritet först.<br/>
    Något jag också vill lyfta fram är att jag är flexibel, då det inte varit några problem för mig att under min studietid hinna<br/>
    med att jobba och träna regelbundet.</p>

