
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<p>Name: John <br />
   Surname: Doe <br />
   Adress: Nostreet 1<br />
    Zipcode: 42144<br />
    Town: Notown<br />
    Phonenumber: 070x-xx xx xx<br />
    e-mail: john.doe@live.se
    </p>


