
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>
<ul>
    <li><a href="https://github.com/Daniel-Villalba/Assigment1Calculator/blob/32bc512862315d19d1cdc0189e3715a85b706b58/AssignmentCalculator/ConsoleCalculator/Program.cs">Assignment 1 C# Calculator</a>
        <p>A basic calculator application created in c#</p>    
    </li>
    <li><a href="https://github.com/Daniel-Villalba/Assignment2Hangman.git">Assignment 2 C# Hangman</a>
        <p>The classic Hangman game created in c#</p>    
    </li>
    <li><a href="https://github.com/Daniel-Villalba/Assignment3Calculator.git">Assignment 3 C# Calculator V2.0</a>
        <p>An updated version of the basic c# calculator application with unit- tests.</p>    
    </li>
    <li><a href="https://github.com/Daniel-Villalba/Assignment4BasicVendingMachine.git">Assignment 4 C# Vending Machine</a>
        <p>A basic vending machine application created in c#.</p>    
    </li>
    <li><a href="https://github.com/Daniel-Villalba/Assignment1-HTML.git">Assignment 1 HTML Basic HTML structured page</a>
        <p>A basic HTML structured page containing index- and Login page.</p>    
    </li>
    <li><a href="https://github.com/Daniel-Villalba/Assignment2-CSS.git">Assignment 2 CSS Basic HTML page styled with CSS</a>
        <p>A basic HTML structured page containing index- and Login page styled with CSS making the page more appealing.</p>    
    </li>
    <li><a href="https://github.com/Daniel-Villalba/Assignment1-Javascript-Sokoban.git">Assignment 1 JavaScript Sokoban</a>
        <p>A simple JavaScript game, based on the game called Sokoban. This is a puzzle video game in which the player pushes crates or boxes around in a warehouse, trying to get them to storage locations.</p>    
    </li>
</ul>

